
  <div class='header'>
    MODEL DETAILS
  </div>
    <div class="projectdetails" style="font-size: large;font-weight: bold;">
<div>
      <span *ngFor='let projectdetails of projectdetails'>
        <div >
          <div class="detailstype" style=" float:left;">Project title:</div>
          <div style=" float:left">{{ projectdetails.Projecttitle }}</div>
        </div>
        <br>
        <div >
          <div class="detailstype"  style=" float:left">Project Description:</div>
          <div style=" float:left">{{ projectdetails.ProjectDescription }}</div>
        </div>
        <br>
        <div>
          <div class="detailstype"  style=" float:left">Email:</div>
          <div style=" float:left">{{ projectdetails.User }}</div>
        </div>
        <br>
        <div >
          <div class="detailstype"  style=" float:left">Github URL:</div>
          <a href="{{projectdetails.GithubURL}}" style=" float:left">{{ projectdetails.GithubURL }}</a>
        </div>
        <br>
         <div >
          <div class="detailstype"  style=" float:left">Likes:</div>
         <div style=" float:left">{{ projectdetails.Likes }}</div>
        </div>
      </span>
</div>
      <button (click)="download()">Download</button>
    </div>
