<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Username">Username</label>
    <input type="text" class="form-control" id="Username" formControlName="Username">
  </div>
  <div class="form-group">
    <label for="EmailID">EmailID</label>
    <input type="text" class="form-control"id="EmailID" formControlName="EmailID">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" formControlName="Password">
  </div>
  <button type="submit"  class="btn btn-info btn-lg">Submit</button>
</form>
