thead {
  color: #337AB7;
}
a.projectnames {
  text-transform: uppercase;
}
th, td {
  text-align: left;
  padding: 8px;
  font-weight: bold;
  height: 53px;
}


tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: cadetblue;
  color: white;
}

.buttoncolor{
  background-color: red;
}
